<% provide :title, t(".title") %>
<% provide :button_text, t(".btn_update") %>
<div class="col-md-6">
  <h3><%= t ".header" %></h3>
  <%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
    <%= hidden_field_tag :email, @user.email %>

    <div class="form-group">
      <%= f.label t(".label_password") %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label t(".confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
