<div id="edit_cmt" class="collapse"></div>
<% @comments.each do |comment| %>
  <div class="action-comment2">
    <div class="box-footer box-comments action-comment3 ">
      <div class="box-comment">
        <%= image_tag "user8", class: "img-circle img-sm" %>
        <div class="comment-text">
          <span class="username">
            <%= comment.user.name %>
            <span class="text-muted pull-right"><%= comment.created_at %></span>
          </span>
          <div class="trun-comment">
            <%= simple_format comment.content %>
            <span class="text-muted pull-right">
            <% if check_current_obj_user? comment %>
              <div class="action-comment">
                <%= link_to edit_song_comment_path(@song, comment),
                  data: {toggle: "collapse", target: "#edit_cmt"},
                  remote: true do %>
                  <i class="fa fa-edit fa-2x"></i>
                <% end %>
                <%= link_to "#", data: {toggle: "modal",
                  target: "#delete_cmt#{comment.id}"} do %>
                  <i class="fa fa-trash fa-2x"></i>
                <% end %>
              </div>
            <% end %>
          </span>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div id="delete_cmt<%=comment.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">Delete</h4>
        </div>
        <div class="modal-body">
          <p>You definitely want to delete comment: </p>
          <p><%= comment.content %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <%= link_to "Delete", song_comment_path(@song, comment),
            method: :delete, type: "button", class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
