<header>
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to root_path, class: "navbar-brand" do %>
          <b><%= t ".B" %></b><%= t ".music" %>
        <% end %>
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#"><%= t ".songs" %>
              <span class="sr-only">(current)</span></a></li>
            <li><a href="#"><%= t ".playlists" %></a></li>
          </ul>
          <form class="navbar-form navbar-left input-group" role="search">
            <div class="form-group">
              <input type="text" class="form-control width-45"
                id="navbar-search-input" placeholder=<%= t ".songs" %>>
              <span class="input-group-btn">
                <button type="button" class="btn bg-navy">
                  <%= t ".search" %>
                </button>
              </span>
            </div>
          </form>
      </div>
      <div class="navbar-custom-menu navbar-right">
        <ul class="nav navbar-nav">
          <% if logged_in? %>
            <li class="dropdown notifications-menu">
              <%= link_to new_song_path do %>
                <%= t ".upload" %> <i class="fa fa-upload"></i>
              <% end %>
            </li>
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag "/assets/img_lights.jpg", class:"user-image" %>
                <span class="hidden-xs"><%= current_user.name %></span>
              </a>
              <ul class="dropdown-menu">
                <li class="user-header">
                  <%= image_tag "/assets/img_lights.jpg", class:"img-fluid" %>
                  <p><%= t ".name2"%></p>
                </li>
                <li class="user-footer">
                  <div class="pull-left">
                   <%= link_to t(".profile"), current_user, class:"btn" %>
                  </div>
                  <div class="pull-right">
                  <%= link_to t(".logout"), logout_path, class:"btn",
                    method: :delete %>
                  </div>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t(".login"), login_path, remote: true,
              data: {toggle: "modal", target: "#logInModal"}, class:"btn" %>
            </li>
            <li><%= link_to t(".signup"), signup_path, remote: true,
              data: {toggle: "modal", target: "#signUpModal"}, class:"btn" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
