<% provide :title, t(".title_edit_song") %>
<div class="container">
  <div class="row">
    <div id="css_upload">
      <h2><i class="fa fa-edit"> </i> <%= t ".headeredit"%></h2>
      <div class="row_upload">
        <div class="col-50">
          <%= form_for @song do |f| %>
          <i class="fa fa-user"></i> <%= t ".namesong" %>
          <span class="present_icon">*</span>
          <div class="add_author">
            <%= f.text_field :name, class: "form-control",
              placeholder: t(".placeholder_song"), required: true %>
          </div>
          <i class="fa fa-user"></i> <%= t ".namesinger" %>
          <span class="present_icon">*</span>
          <div class="add_author">
            <%= f.fields_for :singers do |ff| %>
              <%= render "singer_fields", f: ff %>
            <% end %>
            <%= link_to_add_fields t(".add"), f, :singers %>
          </div>
          <i class="fa fa-user"></i> <%= t ".nameauthor" %>
          <div class="add_author">
            <%= f.fields_for :authors do |ff| %>
              <%= render "author_fields", f: ff %>
            <% end %>
            <%= link_to_add_fields t(".add"), f, :authors %>
          </div>
        </div>
        <div class="col-50">
          <i class="fa far fa-image  "></i> <%= t ".imagename" %>
          <div class="add_author">
            <%= image_tag get_avatar(@song), class: "img_my_song" %>
            <%= f.fields_for :image_attributes do |image_f| %>
              <%= image_f.file_field :image_url %>
              <%= image_f.hidden_field :imageable_id, value: @song.id %>
              <%= image_f.hidden_field :imageable_type, value: "image" %>
            <% end %>
            <br>
          </div>
          <i class="fa far fa-image  "></i> <%= t ".filesong" %>
          <span class="present_icon">*</span>
          <div class="add_author">
            <%= audio_tag @song.song_url.url, controls: true %>
            <%= f.file_field :song_url %><br>
          </div>
          <i class="fa fa-th-list"></i> <%= t ".category_select" %>
          <div class="add_author">
            <%= f.collection_select :category_id, @category_name, :id, :name,
              include_blank: false %>
          </div>
        </div>
      </div>
      <%= f.submit t(".upload"), class: "btn_upload" %>
      <% end %>
    </div>
  </div>
</div>
