<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="box box-widget">
        <div class="box-body">
          <h4 class=" dark-grey-text mb-3 capitalize-text">
            <%= @song.category.name %> -
            <a class="font-weight-bold"><%= @song.name %></a> -
            <% @song.singers.each do |singer|%>
              <%= singer.name %>
            <% end %>
          </h4>
          <canvas class="body body-<%= @song.id%> mb-1"></canvas>
          <div id="head_lyric"></div>
          <%= audio_tag @song.song_url.url, controls: true, autoplay: true %>
          <p><strong><%= t ".lyric" %></strong>
            <div id="show_lyrics">
              <%= render "lyrics/lyrics" %>
            </div>
            <div id="paginate">
              <%= paginate @lyrics, theme: "twitter-bootstrap-3", remote: true %>
            </div>
          </p>
          <%= react_component("LikeButton", {user_id: @user_id, song_id: @song.id, is_liked: @is_liked}) %>
          <span>
          <button type="button" data-toggle="modal" data-target="#sent_report"
            class="btn btn-default btn-xs">
            <i class="fa fa-flag"></i> <%= t ".report"%>
          </button>
          <button type="button" data-toggle="modal" data-target="#add_lyrics"
            class="btn btn-default btn-xs">
            <i class="fa fa-file-o"></i> <%= t ".lyrics_contribution" %>
          </button>
          <button type="button" data-toggle="modal" data-target="#add_album"
            class="btn btn-default btn-xs">
            <i class="fa fa-list-alt"></i> <%= t ".add-album" %>
          </button>
          <div id="add_lyrics" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                  <h4 class="modal-title"><%= t ".lyrics_contribution" %></h4>
                </div>
                <div class="modal-body">
                  <%= form_for [@song, @song.lyrics.build] do |f| %>
                    <div class="form-group">
                      <%= f.text_area :content, placeholder: t(".lyric_here"),
                        rows: "3", required: true, class: "form-control" %>
                    </div>
                    <%= f.submit class: "btn btn-success" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <span class="pull-right text-muted">
            <%= @song.likes.count %> <i class="fa fa-thumbs-o-up"></i> -
            <%= @comments.count %> <i class="fa fa-comments"></i> -
            <%= @song.view %> <i class="fa fa-headphones"></i>
          </span>
        </div>
        <h3>Comments:</h3>
        <div class="box-footer add-comment">
          <%= form_for [@song, @song.comments.build], role: "form" do |f| %>
            <%= image_tag "user8",
              class: "img-responsive img-circle img-sm img-add" %>
            <div class="img-push">
              <%= f.text_field :content, class: "form-control input-sm input-add",
              placeholder: "Press enter to song comment", required: true %>
            </div>
          <% end %>
        </div>
        <hr>
        <%= render "comments/comments" %>
      </div>
    </div>
    <%= react_component "Ranking" %>
    <%= t ".tags" %> <span class="badge bg-purple"><%= t(".tag1") %></span>
    <span class="badge bg-purple"><%= t(".tag2") %></span></span>
    <span class="badge bg-purple"><%= t(".tag3") %></span>
  </div>
</div>
<div id="add_lyrics" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Lyrics contribution</h4>
      </div>
      <div class="modal-body">
          <%= form_for [@song, @lyric], role: "form" do |f| %>
            <div class="form-group">
              <%= f.text_area :content, class: "form-control",
                rows: "3", required: true %>
            </div>
            <%= f.submit class: "btn btn-success" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div id="sent_report" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sent song report: <b><%= @song.name %></b></h4>
      </div>
      <div class="modal-body">
        <p>Why are you reporting this song?</p>
          <%= form_for [@song, @report], role: "form" do |f| %>
            <div class="form-group">
              <%= f.text_area :reason, class: "form-control",
                rows: "3", required: true %>
            </div>
            <%= f.submit class: "btn btn-success" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div id="add_album" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Choose album</h4>
      </div>
      <div class="modal-body">
        <% @albums.each do |album| %>
          <% if check_current_obj_user? album %>
            <p> <%= album.name %>

            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
