<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="box box-widget">
        <div class="box-body">
          <h4 class=" dark-grey-text mb-3 capitalize-text">
            <%= @song.category.name %> -
            <a class="font-weight-bold"><%= @song.name%></a> - 
            <% @song.singers.each do |singer|%>
              <%= singer.name %>
            <% end %>
          </h4>
          <canvas class="body body-<%= @song.id%> mb-1"></canvas>
          <%= audio_tag @song.song_url.url, controls: true %>
          <p><strong><%= t ".lyric" %></strong> 
            <%= simple_format "Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            When an unknown printer took a galley of type and scrambled it to make a type specimen book. 
            It has survived not only five centuries, but also the leap into electronic 
            Typesetting, remaining essentially unchanged. It was popularised in the 
            1960s with the release of" %>
          </p>
          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-down"></i> <%= t ".dislike"%></button>
          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> <%= t ".like"%></button>
          <button type="button" class="btn btn-default btn-xs"><i class="fa fa-flag"></i> <%= t ".report"%></button>
          <span class="pull-right text-muted">127 <%= t ".likes"%> - 3 <%= t ".comments"%></span>
        </div>
        <div class="box-footer box-comments">
          <div class="box-comment">
            <%= image_tag  "user8", class: "img-circle img-sm" %>
            <div class="comment-text">
              <span class="username">
                Maria Gonzales
                <span class="text-muted pull-right"><%= Time.zone.now%></span>
              </span>
              It is a long established fact that a reader will be distracted
              by the readable content of a page when looking at its layout.
            </div>
          </div>
        </div>
        <div class="box-footer">
          <form action="#" method="post">
          <%= image_tag "user8", class:"img-responsive img-circle img-sm" %>
            <div class="img-push">
              <input type="text" class="form-control input-sm" placeholder="Press enter to post comment">
            </div>
          </form>
        </div>
      </div>
    </div>
    <%= react_component "Ranking"%>
    Tags name: <span class="badge bg-purple">Dunderpatrullen-Singularity</span>
    <span class="badge bg-purple">Dunderpatrullen</span>
    <span class="badge bg-purple">Singularity</span>
  </div>
</div>
