<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="box box-widget">
        <div class="box-body">
          <h4 class=" dark-grey-text mb-3 capitalize-text">
            <%= @song.category.name %> -
            <a class="font-weight-bold"><%= @song.name %></a> -
            <% @song.singers.each do |singer|%>
              <%= singer.name %>
            <% end %>
          </h4>
          <canvas class="body body-<%= @song.id%> mb-1"></canvas>
          <div id="head_lyric"></div>
          <%= audio_tag @song.song_url.url, controls: true %>
          <p><strong><%= t ".lyric" %></strong>
            <%= render "lyrics/lyrics" %>
          </p>
          <button type="button" class="btn btn-default btn-xs">
            <i class="fa fa-thumbs-o-down"></i> <%= t ".dislike"%>
          </button>
          <button type="button" class="btn btn-default btn-xs">
            <i class="fa fa-thumbs-o-up"></i> <%= t ".like"%>
          </button>
          <button type="button" class="btn btn-default btn-xs">
            <i class="fa fa-flag"></i> <%= t ".report"%>
          </button>
          <button type="button" data-toggle="modal" data-target="#add_lyrics"
            class="btn btn-default btn-xs">
            <i class="fa fa-file-o"></i> <%= t ".lyrics_contribution" %>
          </button>
          <div id="add_lyrics" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                  <h4 class="modal-title"><%= t ".lyrics_contribution" %></h4>
                </div>
                <div class="modal-body">
                  <%= form_for [@song, @song.lyrics.build] do |f| %>
                    <div class="form-group">
                      <%= f.text_area :content, placeholder: t(".lyric_here"),
                        rows: "3", required: true, class: "form-control" %>
                    </div>
                    <%= f.submit class: "btn btn-success" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <span class="pull-right text-muted">
            <%= t ".likes" %> - <%= t ".comments" %>
          </span>
        </div>
        <div class="box-footer box-comments">
          <div class="box-comment">
            <%= image_tag "user8", class: "img-circle img-sm" %>
            <div class="comment-text">
              <span class="username">
                <%= t ".MariaGonzales" %>
                <span class="text-muted pull-right"><%= Time.zone.now %></span>
              </span>
              <%= t ".comment_content" %>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <form action="#" method="post">
          <%= image_tag "user8", class: "img-responsive img-circle img-sm" %>
            <div class="img-push">
              <input type="text" class="form-control input-sm"
                placeholder="<%= t('.placeholder_comments') %>">
            </div>
          </form>
        </div>
      </div>
    </div>
    <%= react_component t(".ranking") %>
    <%= t ".tags" %> <span class="badge bg-purple"><%= t(".tag1") %></span>
    <span class="badge bg-purple"><%= t(".tag2") %></span></span>
    <span class="badge bg-purple"><%= t(".tag3") %></span>
  </div>
</div>
