<% @reports.each do |report| %>
  <tr>
    <td><%= truncate(report.reason, :length => 50) %></td>
    <td><%= report.user.name %></td>
    <td><%= link_to report.song.name, admin_songs_path, title: "Go to Manage songs" %></td>
    <td><%= report.created_at %></td>
    <td>
      <%= link_to admin_report_path(report), data: {toggle: "modal", target: "#see_details"},
        remote: true do %>
        <i class="fa fa-eye icon-acepted" title="<%= t '.show' %>"></i>
      <% end %>
      <%= link_to admin_report_path(report), method: :delete,
        data: {confirm: t(".sure")} do %>
        <i class="fa fa-trash icon-unacepted" title="<%= t '.delete' %>"></i>
      <% end %>
    </td>
  </tr>
<% end %>
<div id="see_details" class="modal fade" role="dialog"></div>
